@import "tailwindcss";

:root {
    font-family: "Figtree", "Geist Pixel", sans-serif;
    color-scheme: light dark;
    /*color-palette*/
    --evergreen: #002626;
    --ocean: #24bdad;
    --cyan: #a4fbf7;
    --frozen: #d5fff2;
    --shadow: #2a2827;
    --breakpoint-3xl: 1920px;
    
    

}

body {
    overflow-x: hidden;
}

h2 {
    font-family: "Geist Pixel", 'Courier New', Courier, monospace;
}

.gradient {
  background: radial-gradient(circle, var(--ocean) 0%, var(--cyan) 100%);
}