@import "tailwindcss";

:root {
    font-family: "Figtree", "Geist Pixel", sans-serif;
    color-scheme: light dark;
    /*color-palette*/
    --shadow: #2a2827;
    --sky: #95d2ff;
    --ice: #c4e6ff;
    --lemon:#fff2c6;
    --nct: #b6e15b;
    --breakpoint-3xl: 1920px;

}

body {
    overflow-x: hidden;
}

h2 {
    font-family: "Geist Pixel", 'Courier New', Courier, monospace;
}

.gradient {
  background: radial-gradient(circle, var(--lemon) 0%, var(--ice) 100%);
}